.gx-code {
    font-family : courier new;
    font-size : 10pt;
    color : #000000;
}

.gx-line {
    border-right : 1px solid #808080;
    text-align : right;
    color : #808080;
}

.gx-highlighting {
    background-color : #80ffff !important;
}

.gx-injection {
    background-color : #000000;
    color : #ffffff;
}

.gx-symbol {
    color : #000000;
}

.gx-operator {
    font-weight : bold;
    color : #808000;
}

.gx-string {
    color : #0000ff;
}

.gx-number {
    color : #0000ff;
}

.gx-comment {
    color : #008000;
}

.gx-rule-any {
    font-weight : bold;
    color : #0000ff;
}

.gx-rule-class {
    font-weight : bold;
    color : #000080;
}

.gx-rule-production {
    font-weight : bold;
    color : #800000;
}

.gx-rule-reference {
    font-weight : bold;
    color : #408080;
}

.gx-rule-action {
    font-style : italic;
    color : #ff0000;
}

.gx-problem-fatal {
    background-color : #ff0000;
}

.gx-problem-error {
    background-color : #ff8080;
}

.gx-problem-warning {
    background-color : #ffff80;
}

.gx-problem-hint {
    background-color : #e0e0e0;
}
