<html>
<head>
    <title>${title}</title>
    
    <style type="text/css">
        ${grammar_theme}
    </style>
    
    <script type="text/javascript">
        ${grammar_script}
    </script>
</head>
<body style="margin:0px">

<script type="text/javascript">
(${grammar_obj} = new Gx()).data =
[${grammar_data}];
</script>

${grammar_tags}

</body>
</html>
